@charset "utf-8";

@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
    font-size: 100%;
    font-family: "Avant Garde", "Century Gothic","AppleGothic", sans-serif;
}

body {
    margin: 2px;
    padding: 0;
    background-color: black;
}

.walktall {
    height: 150px;
    width: 100%;
    margin-top: -1.5rem;
}

header {
    background-color: white;
    background-repeat: no-repeat;
    overflow: hidden;
    height: 6rem;
    stroke: red;
    outline: black solid 1rem;
}

.nav-top {
    background-color: black;
}

.nav-top ul {
    margin: 0 1.2rem;
    padding: 0;
	text-align: center;	
}

.nav-top li {
    margin: -1rem;
    padding: 0;
    display: inline; 
}

.nav-top a,
.nav-top a:link,
.nav-top a:visited {
	display: inline-block;
	margin: 0;
	padding: 1.5rem 10%;
	color: white;
	font-size: 1rem; 
	text-decoration: none;
}

img {
    width: 100%;
}

.bigpicture {
    margin: 0 auto 1.5rem;
    width: 90%;
}

h1  {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    color: black;
    background-color: white;
}

figure {
    width: 40%;
    margin-left: 5%;
}

.thismonth  {
    position: absolute;
    margin-left: 54%;
}

.lastmonth  {
    position: absolute;
}

figcaption {
    font-size: 1rem;
    padding: .5rem 5%;
    text-transform: uppercase;
    background-color: white;
    text-align: center;
}

ul  {
    list-style: none;
}

li  {
    color: white;
    margin-left: 2%;
    text-transform: uppercase;
    font-size: .6rem;

}

.number {
    margin-top: 70%;
    margin-left: -5%;
    text-transform: uppercase;
    padding-left: 0;
    position: relative;
    left: 5%;

}

.email {
    position: relative;
    left: 45%;
    margin-top: -7%;
}

.livechat   {
    position: relative;
    left: 45%;
    padding-right: 19%;
}

.firstpicture   {
    margin: 0 auto;
    width: 90%;
}

h5  {
    color: white;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: lighter;
    margin-left: 1.2rem;
    margin-top: .5rem;
    border-bottom:  1px solid white;
    margin-right: 1.2rem;
    padding: 6px 0;
    margin-bottom: 1.5rem;
}

.whowewere  {
   width:20%;
    margin-left: 1.2rem;
}

.whoweare   {
   width:20%;
    margin-left: 1.2rem;
    margin-top: 8rem;
}

.whereweregoing {
   width:20%;
    margin-left: 1.2rem;
    margin-top: 8rem;
}

p   {
    color: white;
    font-size: 1rem;
    font-weight: lighter;
    padding-right: 1.2rem;
    padding-left: 1.2rem;
    margin-top: -14px;
    position: absolute;
}

.largepicture   {
    margin: 0 auto;
    width: 90%;
}

h4  {
    color: white;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: lighter;
    margin-top: 2px;
    padding: 1px 0;
    border-bottom:  1px solid white;
}

h6  {
    color: white; 
    font-size: 16px;
    font-weight: lighter;
    margin-top: -1px;
    padding: 14px 0;
    margin-top: -2rem;   
}

.product1    {
    width: 40%;
    position: absolute;
    margin-left: 54%;
}

.product2    {
    width: 40%;
    margin-left: 5%;
}

h1 {
    margin: 2rem 0;
    font-weight: normal;
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;
    background-color: white;
    padding: .5rem 0;
}

.product3    {
    width: 40%;
    margin-left: 5%;
    position: absolute;
    margin-left: 54%;
}

.product4    {
    width: 40%;
    margin-left: 5%;
}

.product5    {
    width: 40%;
    margin-left: 5%;
    position: absolute;
    margin-left: 54%;
}

.product6    {
    width: 40%;
    margin-left: 5%;
}

.product7    {
    width: 40%;
    margin-left: 5%;
    position: absolute;
    margin-left: 54%;
}

.product8    {
    width: 40%;
    margin-left: 5%;
    position: absolute;
}

.facebook   {
    width: 14.8%;
    margin: 11.8% 14%;
}

.twitter   {
    width: 13%;
    position: absolute;
    margin-left: 43%;
    margin-top: 9%;
}

.pinterest   {
    width: 16.6%;
    margin-top: 9%;
    position: absolute;
    margin-left: 69%;
}

.youtube  {
    width: 13%;
    margin: -10%;
    position: absolute;
    margin-left: 57%;
}

.instagram  {
    width: 13%;
    margin: -10% 30%;
}

footer  {
    padding-bottom: 15%;

}

span    {
    text-transform: uppercase;
}