@charset "utf-8";

@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
    font-size: 100%;
    font-family: "Avant Garde", "Century Gothic","AppleGothic", sans-serif;
}

body {
    outline: grey  solid 4px;
    margin: 2px;
    padding: 0;
    background-color: black;
}

.walktall {
    height: 150px;
    width: 100%;
    margin-top: -1.5rem;
}

header {
    background-color: white;
    background-repeat: no-repeat;
    overflow: hidden;
    height: 6rem;
    stroke: red;
    outline: grey solid 4px;
}

.nav-top {
    background-color: black;
}

.nav-top ul {
    margin: 0 1.2rem;
    padding: 0;
	text-align: center;	
}

.nav-top li {
    margin: -1rem;
    padding: 0;
    display: inline; 
}

.nav-top a,
.nav-top a:link,
.nav-top a:visited {
	display: inline-block;
	margin: 0;
	padding: 1.5rem 10%;
	color: white;
	font-size: 1em; 
	text-decoration: none;
}

h1  {
    font-size: 22px;
    margin-left: 10px;
    text-align: left;
    font-weight: 400;
    color: white;
}

img {
    width: 100%;
}

.bigpicture {
    margin: 0 auto 1.5rem;
    width: 90%;
}

h1  {
    color: white;
    margin: 5%;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 19.4px;
    text-align: center;
    color: black;
    background-color: white;
}

figure {
    width: 40%;
    margin-left: 5%;
}

.thismonth  {
    position: absolute;
    margin-left: 54%;
}

.lastmonth  {
    position: absolute;
}

figcaption {
    font-size: 16px;
    padding: .5rem 5%;
    text-transform: uppercase;
    background-color: white;
}

.number {
    color: white;
    margin-top: 70%;
    margin-left: -1.1rem;
    text-transform: uppercase;
    font-size: 10px;
    margin-bottom: 10%;
}

.email {
    color: white;
    margin-top: -13.4%;
    margin-left: 45%;
    text-transform: uppercase;
    font-size: 10px;
}

p   {
    color: white;
    font-size: 18px;
    font-weight: lighter;
    padding-right: 1.2rem;
    padding-left: 1.2rem;
    margin-top: -14px;
    margin-bottom: -5rem;
}

h5  {
    color: white;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: lighter;
    margin-left: 1.2rem;
    margin-top: -1px;
    border-bottom:  1px solid white;
    margin-right: 1.2rem;
    padding: 6px 0;
}

.firstpicture   {
    margin: 0 auto;
    width: 90%;
}

.whowewere  {
   width:20%;
    margin-left: 1.2rem;
}

.whoweare   {
   width:20%;
    margin-left: 1.2rem;
    margin-top: 8rem;
}

.whereweregoing {
   width:20%;
    margin-left: 1.2rem;
    margin-top: 8rem;
}

.largepicture   {
    margin: 0 auto;
    width: 90%;
}

h4  {
    color: white;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: lighter;
    margin-top: 2px;
    padding: 1px 0;
    border-bottom:  1px solid white;
}

h6  {
    color: white; 
    font-size: 16px;
    font-weight: lighter;
    margin-top: -1px;
    padding: 14px 0;
    margin-top: -2rem;   
}

.product1    {
    width: 40%;
    position: absolute;
    margin-left: 54%;
}

.product2    {
    width: 40%;
    margin-left: 5%;
}

.product3    {
    width: 40%;
    margin-left: 5%;
    position: absolute;
    margin-left: 54%;
}

.product4    {
    width: 40%;
    margin-left: 5%;
}

.product5    {
    width: 40%;
    margin-left: 5%;
    position: absolute;
    margin-left: 54%;
}

.product6    {
    width: 40%;
    margin-left: 5%;
}

.product7    {
   width: 40%;
    margin-left: 5%;
    position: absolute;
    margin-left: 54%;
}

.product8    {
    width: 40%;
    margin-left: 5%;
}

.facebook   {
    width: 20%;
    margin: 10% 5%;
}

.twitter   {
    width: 20%;
    margin: 8% 5%;
    position: absolute;
    margin-left: 40%;
}

.pinterest   {
    width: 26%;
    margin: 8% 1%;
    position: absolute;
    margin-left: 70%;
}

.youtube  {
    width: 20%;
    margin: 0 5%;
    position: absolute;
    margin-left: 57%;
}

.instagram  {
    width: 20%;
    margin: 10% 23%;
}

footer  {
    padding-bottom: 1rem;
    margin-top: 70%;
}