@charset "utf-8";

@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
    font-size: 100%;
    font-family: "Avant Garde", "Century Gothic","AppleGothic", sans-serif;
}

body {
    outline: #990033  solid 4px;
    margin: 2px;
    padding: 0;
    background-color: black;
}

.walktall {
    height: 150px;
    width: 100%;
    margin-top: -1.5rem;
}

header {
    background-color: white;
    background-repeat: no-repeat;
    overflow: hidden;
    height: 6rem;
    stroke: red;
    outline: #990033  solid 4px;
}

h1  {
    font-size: 22px;
    margin-left: 10px;
    text-align: left;
    font-weight: 400;
    color: white;
}

.home   {
    margin: 10px;
    padding: .2rem;
    height: 2.2rem;
    width: 7rem;
    background-color: white;
    border: .2rem solid #990033;
}

.products   {
    margin: 4px;
    padding: .2rem;
    height: 2.2rem;
    width: 7rem;
    background-color: white;
    border: .2rem solid #990033;
}

.company  {
    margin: 4px;
    padding: .2rem;
    height: 2.2rem;
    width: 7rem;
    background-color: white;
    border: .2rem solid #990033;
}

h2  {
    text-align: center;
    margin: 0;
    font-weight: 100;
    font-size: 18px;
}

.company {
    position: relative;
    left: 67%; 
    top: -5.3rem;
}

.products   {
    position: relative;
    left: 34.3%; 
    top: -2.8rem;
}

img {
    width: 100%;
}

.bigpicture {
    max-width: 90%;
    display: block;
    margin-left: 1.2rem;
    margin-top: -4rem;
    margin-bottom: 1rem;
    border: solid 3px #990033;
}

figure {
    background-color: white;
    margin: 1.2rem;
    width: 40%;
    border: .2rem solid #990033;
}

figcaption {
    font-size: 10px;
    padding: .5rem 5%;
    text-transform: uppercase;
    border:.1rem solid #990033 ;
}

.thismonth  {
    position: relative;
    left: 49.5%; 
    top: -11.6rem;
    margin-bottom: -19rem;
}

p   {
    color: white;
    font-size: 18px;
    font-weight: lighter;
    padding-right: 1.2rem;
    padding-left: 1.2rem;
}

.contactnumber  {
    margin-top: -8rem;
    margin-bottom: 4rem;
    margin-left: 1.2rem;
}

.contactemail   {
    position: relative;
    left: 55%; 
    top: -4.75rem;
}

h3  {
    color: white;
    font-weight: lighter;
    text-transform: uppercase;
    font-size: 12px;
}

.facebook {
    width: 15%;
    margin-left: 1.2rem;
}

.twitter {
    width: 15%;
    position: relative;
    left: 44%; 
    top: -3.7rem;
}

.instagram {
    width: 15%;
    position: relative;
    left: 80%; 
    top: -11.6rem;
}

.youtube {
    width: 15%;
    position: relative;
    left: 63%; 
    top: -9.4rem;
}

.pinterest {
    width: 19%;
    position: relative;
    left: 25%; 
    top: -1.6rem;
}

footer  {
    margin-top: 15rem;
    height: 25.5rem;
}

h4  {
    font-size: 25px;
    color: white;
    text-transform: uppercase;
    margin-left: 7.2rem;
    margin-top: -1.6rem;
}

.whowewere  {
    width: 20%;
    margin-left: 1.2rem;
    border: solid 2px #990033;
    margin-top: 4rem;
}

.whoweare   {
    width: 20%;
    margin-left: 1.2rem;
    border: solid 2px #990033;
    margin-top: 4rem;
}

.whereweregoing {
    width: 20%;
    margin-left: 1.2rem;
    border: solid 2px #990033;
    margin-top: 4rem;
}

.product1   {
    width: 40%;
    margin-left: 1.2rem;
    border: solid 3px #990033;
}

.price1 {
    margin-left: 3.5rem;
}

.product2   {
    width: 40%;
    border: solid 3px #990033;
    position: relative;
    left: 55%; 
    top: -13.6rem;
}

.price2 {
    position: relative;
    left: 65%; 
    top: -13.6rem;
}
    
.product3   {
    width: 40%;
    border: solid 3px #990033;
    position: relative;
    left: 1.2rem; 
    top: -13.6rem;
}

.price3 {
    position: relative;
    left: 15%;
    top: -13.5rem;
}

.product4   {
    width: 40%;
    border: solid 3px #990033;
    position: relative;
    left: 55%; 
    top: -27.2rem;
}

.price4 {
    position: relative;
    left: 65%; 
    top: -27.2rem;
}

.product5   {
    width: 40%;
    border: solid 3px #990033;
    position: relative;
    left: 55%; 
    top: -27.2rem;
}

.price5 {
    position: relative;
    left: 65%; 
    top: -27.2rem;
}

.product6   {
    width: 40%;
    border: solid 3px #990033;
    position: relative;
    left: 1.2rem; 
    top: -40.83rem;
}

.price6 {
    position: relative;
    left: 15%;
    top: -40.83rem;
}

.product7   {
    width: 40%;
    border: solid 3px #990033;
    position: relative;
    left: 1.2rem; 
    top: -40.83rem;
}

.price7 {
    position: relative;
    left: 15%;
    top: -40.83rem;
}

.product8   {
    width: 40%;
    border: solid 3px #990033;
    position: relative;
    left: 55%; 
    top: -54.4rem;
}

.price8 {
    position: relative;
    left: 65%;
    top: -54.4rem;
}